{% extends 'base.html' %}

{% block title %}
Заказы без доставки
{% endblock %}

{% block delivery %}
<h2>Заказы без доставки</h2>

{% if orders %}
<table class="orders-table">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Дата заказа</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order['order_id'] }}</td>
            <td>{{ order['creation_date'] }}</td>
            <td>
                <a href="{{ url_for('bp_delivery.couriers_for_order', order_id=order['order_id']) }}" class="btn-action">Выбрать курьера</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Нет свободных заказов.</p>
{% endif %}
<a href="/" class="back-button">Назад</a>
{% endblock %}
