<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы без доставки</title>
</head>
<body>
    <h1>Заказы без доставки</h1>

    {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата заказа</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order['order_id'] }}</td>
                    <td>{{ order['creation_date'] }}</td>
                    <td>
                        <a href="{{ url_for('bp_delivery.couriers_for_order', order_id=order['order_id']) }}">Выбрать курьера</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет свободных заказов.</p>
    {% endif %}
    <a href="/">Назад</a>
</body>
</html>
