<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link href="/static/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 align="center"> Авторизация</h1>
    <h1 align="center"> Введите логин и пароль</h1> <br><br>
    <div align="center">
      <form action="" method="POST">
          <div>
              <label for="login"> Логин</label>
              <input id="login" name="login" type="text"><br><br>

              <label for="password"> Пароль </label>
              <input id="password" name="password" type="password"><br><br>

              <label for="is_internal">Сотрудник</label>
              <input id="is_internal" name="is_internal" type="checkbox"><br><br>

              <input class="submit" type="submit" value="Отправить">
          </div>
      </form>
      <br><br>
      <h2 align="center">{{ message }}</h2>
  </div>
</body>
</html>