{% extends 'base.html' %}

{% block title %}
Клиенты за период
{% endblock %}

{% block query %}
<form method="POST" action="{{ url_for('bp_query.clients_by_period') }}">
    <label for="year">Год:</label>
    <input type="number" name="year" id="year" min="2000" max="2025" required>

    <label for="month_start">Начало периода (месяц):</label>
    <input type="number" name="month_start" id="month_start" min="1" max="12" required>

    <label for="month_end">Конец периода (месяц):</label>
    <input type="number" name="month_end" id="month_end" min="1" max="12" required>

    <button type="submit">Выполнить запрос</button>
</form>

{% if result %}
    <h2>Клиенты за период с {{ month_start }} месяца по {{ month_end }} месяц в {{ year }} году</h2>
    <table border="1">
        <thead>
            <tr>
                {% for column in result[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in result %}
                <tr>
                    {% for value in record.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% if request.method == 'POST' %}
        <p>Результатов нет.</p>
    {% endif %}
{% endif %}
<a href="/query" class="back-button">Назад</a>
{% endblock %}
