{% extends 'base.html' %}

{% block title %}
Минимальная цена заказа
{% endblock %}

{% block query %}
<form method="POST" action="{{ url_for('bp_query.min_order_price') }}">
    <label for="year">Год:</label>
    <input type="number" name="year" id="year" min="2000" max="2100" required>

    <button type="submit">Выполнить запрос</button>
</form>

{% if result %}
    <h2>Результат:</h2>
    <p>Минимальная цена: <strong>{{ result[0]['min_price'] }}</strong></p>
{% endif %}
<a href="/" class="back-button">Назад</a>
{% endblock %}
