{% extends 'base.html' %}

{% block title %}
Минимальная цена заказа
{% endblock %}

{% block query %}
<form method="POST" action="{{ url_for('bp_query.min_order_price') }}">
    <label for="year">Год:</label>
    <input type="number" name="year" id="year" min="2000" max="2025" required>

    <button type="submit">Выполнить запрос</button>
</form>

{% if result %}
    <h2>Результат:</h2>
    {% if result[0]['min_price'] is not none %}
        <p>Минимальная цена: <strong>{{ result[0]['min_price'] }}</strong></p>
    {% else %}
        <p>Не было заказов в этом году.</p>
    {% endif %}
{% else %}
    {% if request.method == 'POST' %}
        <p>Не было заказов в этом году.</p>
    {% endif %}
{% endif %}
<a href="/query" class="back-button">Назад</a>
{% endblock %}
